<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop
     	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx 
     	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
     	http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- =================== scan spring bean =================== -->
	<context:component-scan base-package="net.nifoo.h2test" />

	<!-- =================== auto proxy =================== -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- =================== System's properties files =================== -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>

	<bean id="org.h2.tools.Server" class="org.h2.tools.Server" factory-method="createTcpServer" init-method="start"
		destroy-method="stop">
		<constructor-arg value="-tcp,-tcpAllowOthers" />
	</bean>
	
	<bean id="dsH2DB" class="org.h2.jdbcx.JdbcConnectionPool" factory-method="create">
		<constructor-arg index="0" value="jdbc:h2:file:E:/env/h2db/h2test" />
		<constructor-arg index="1" value="sa" />
		<constructor-arg index="2" value="" />
	</bean>
	
	<bean id="main" class="net.nifoo.h2test.Main">
		<constructor-arg index="0" ref="dsH2DB" />
	</bean>

</beans>